:root {
    --kls-primary-color: #d2e2d1;
    --kls-primary-color-dark: #353433;
    --kls-primary-color-light: #F0F0F0;
    --kls-secondary-color: #9BB899;
    --kls-tertiary-color: #576656;
    --kls-highlight-color: #f2ffb6;
    --kls-nav-toggler-color: var(--kls-highlight-color);
    --kls-nav-toggler-glow: #edffeb;
    --kls-dark-color: #353433;
    --kls-darker-color: #1f1e1e;
    --kls-light-color: #F0F0F0;
    --kls-background-color: #fbfcf8;

    --kls-title-font: 'Poiret One', sans-serif;
    --kls-subtitle-font: 'Quicksand', sans-serif;
    --kls-body-font: 'Quicksand', sans-serif;

    --kls-font-size: 1.3rem;
    --kls-font-weight: 400;
    --kls-line-height: 1.5rem;
    --kls-title-color: var(--kls-dark-color);
}

/*---- Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(/img/BG_Fossil.png);
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    color: var(--kls-darker-color);
    font-family: var(--kls-body-font);
    font-weight: 400;
    font-size: 1.2rem;
}

.content {
    flex: 1 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

footer {
    flex-shrink: 0;
    background-color: var(--kls-darker-color);
    color: var(--kls-dark-color);
    padding-top: 1rem;
    padding-bottom: .5rem;
}

a:link {
    color: var(--kls-secondary-color) !important
}

a:visited {
    color: var(--kls-secondary-color) !important
}

a:hover {
    color: var(--kls-primary-color) !important
}

a:active {
    color: var(--kls-highlight-color) !important
}

.nav-link {
    color: var(--kls-secondary-color) !important
}

    .nav-link:visited {
        color: var(--kls-secondary-color) !important
    }

    .nav-link:hover {
        color: var(--kls-primary-color) !important
    }

    .nav-link:active {
        color: var(--kls-highlight-color) !important
    }


/*--Button Overrides --*/
/*-- Button styles override Bootstrap Styles --*/
.btn-outline-primary {
    color: var(--kls-tertiary-color) !important;
    border-color: var(--kls-secondary-color) !important;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:focus {
        border-color: var(--kls-secondary-color) !important;
        background-color: var(--kls-highlight-color) !important;
        color: var(--kls-tertiary-color) !important;
    }

.btn-primary {
    color: var(--kls-tertiary-color) !important;
    background-color: var(--kls-primary-color) !important;
    border-color: var(--kls-primary-color) !important;
}

    .btn-primary:hover {
        background-color: var(--kls-highlight-color) !important;
        border-color: var(--kls-highlight-color) !important;
        color: var(--kls-tertiary-color) !important;
    }


.btnlinks {
    width: 7rem;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: var(--kls-title-font);
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-family: var(--kls-body-font);
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: none;
}

    main {
        background-color: var(--kls-light-color);
        height: 100%;
        width: 100%;
        min-height: 100%;
    }


.content {
    flex: 1 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.heroCard {
    min-height: 100%;
}

.texthighlight {
    color: var(--kls-primary-color);
}

.heroTitle {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--kls-title-font);
    font-weight: 600;
}

.subtitle {
    font-size: 1.5rem;
}

.navbarTitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--kls-title-font);
}

.pageTitle {
    font-family: var(--kls-title-font);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
}

.customNav {
    background-color: var(--kls-darker-color) !important;
    color: var(--kls-light-color) !important;
}

.navShadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sideNav {
    border-radius: 5px;
    border-color: var(--kls-primary-color);
    border-style: solid;
    border-width: 3px;
    background-color: var(--kls-secondary-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
}

.editIcons {
    font-size: 1.5rem;
    opacity: .9;
    color: var(--kls-primary-color-dark);
}

    .editIcons:hover {
        color: var(--kls-primary-color);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }

.icon {
    font-size: 3.5rem;
}

.lightText {
    color: var(--kls-light-color)
}

.copyright {
    color: var(--kls-light-color);
    font-size: .9rem;
}

.socialicons {
    color: var(--kls-light-color);
    opacity: .9;
    font-size: 2rem;
}

    .socialicons:hover {
        color: var(--kls-primary-color);
        opacity: 1;
        cursor: pointer;
    }

.square-img-container {
    position: relative;
    background-color: var(--kls-primary-color);
    border-color: var(--kls-secondary-color);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.imgicon {
    display: inline;
    height: 3.5rem;
    margin: 0rem .3rem;
}

figcaption {
    color: var(--cf-dark-color);
    font-size: 0.8rem;
    text-align: center;
}

.bi {
    color: var(--kls-secondary-color);
}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .heroTitle {
        font-size: 3.5rem;
    }
}
